body {
  font-family: "Montserrat", sans-serif;
  background-color: #f4f4f4;
}

.box-area {
  height: 420px;
  width: 840px;
}

#toast-container {
  z-index: 9999999;
}

.btn-menu {
  background-color: transparent;
  color: #747474;
}

.btn-menu:hover {
  background-color: #7db1ff;
  color: white;
}

.btn-menu.active {
  background-color: #0d6efd;
  color: white;
}

.btn-logout {
  background-color: transparent;
  color: #dc3545;
  margin-top: auto;
}

/* CSS untuk layout sidebar dan konten */
body {
  display: flex;
  height: 100%;
}

aside {
  width: 18%;
  flex-direction: column;
  height: 100vh;
  background-color: #fff;
}

.main-content {
  flex-grow: 1; /* Mengambil sisa ruang */
  padding: 30px;
}
